body
	include partials/topnav.pug
	#belowTopNavContent
		include partials/banner.pug
		.parallax
			br
			br
			br
			include partials/mainContent.pug

	//- Homebrewed scripts
	script(src="/javascripts/style.js")
	script.
		var topnav = document.getElementById('topnav');
		var belowTopNavContent = document.getElementById('belowTopNavContent');
		belowTopNavContent.style.paddingTop = topnav.offsetHeight;