head
	title Waste Segregation Initiative
	html(lang="en")
	meta(name="title" content="Waste Segregation Initiative")
	meta(name="description" content="A high school student's effort to make the world cleaner")
	meta(name="keywords" content="Sanskriti Kartik Gupta Waste Segreation Aahil Singh Divyansh Shah KrishSkywalker Krish Goel")
	meta(name="charset" content="utf-8")
	meta(name="viewport" content="width=device-width initial-scale=1.0, user-scalable=no")
	meta(name="language" content="English")
	meta(name="author" content="Krish Goel · KrishSkywalker")
	//- OG MetaData
	meta(property="og:title" content="Waste Segregation Initiative")
	meta(property="og:description" content="A high school student's effort to make the world cleaner")
	meta(property="og:url" content="http://wastesegregationinitiative.herokuapp.com/")
	meta(property="og:type" content="website")
	meta(property="og:locale" content="en_US")

	link(href="favicon.png" rel="icon" type="image/png")

	//- Stylesheet
	link(rel="stylesheet" href="/stylesheets/style.css")