html
	include includes/head.pug
	body
		include includes/partials/topnav.pug
		#belowTopNavContent
			br
			br
			.widthRestriction
				h1.red Our Project
				br
				h2 Surveys
				p We initially had to record the number of dustbins in our school and then calculate how many more we would require and how much stock we should keep. This step was necessary to draft a detailed proposal and plan to implement an efficient system of waste segregation. The following are the steps we took to develop a suitable system for your locality/school -
				br
				h4 1. Recording the quantity of waste 
				p 
					| We classified the quantity of waste found in the dustbins of your School into 3 broad categories: Small, Medium and Large.
					br
					| Essentially, this gave us an idea of the quantity of waste being generated in each class/room and helped us calculate the number of dustbins we would require.
				br
				h4 2. Recording the quality of waste
				p
					| In this process, we recorded:
					br
					| a) The types of waste materials found in our school; For example, paper, plastic pens, etc.
					br
					| b) On the basis of the waste material recorded we then proceeded to divide our waste into the general categories. These can vary in different cases. In our case, the categories were Biodegradable, General and Recyclable. 

				br
				h2 Fundraising and Purchasing Dustbins
				p
					| We organised in-school fundraisers in collaboration with the Interact and Viridian clubs. Members of these clubs helped us in setting up three different stalls in Sanskriti School and raising funds by selling items (such as ice tea, popcorn etc.). The fundraiser was successful in raising sufficient funds to purchase the dustbins. Dustbins of three different colours (red, blue and green) and sizes (small and large) were purchased from a wholesale shop in Hauz Khas. Having purchased the dustbins from a wholesaler, the price of the dustbins purchased was very reasonable. An appropriate number of dustbins of different sizes and colours were purchased and then taken to Sanskriti School to be set up.  

				br
				h2 Orientations
				p
					| To ensure that this system of waste segregation would be effective, we talked to the helpers (didis and bhaiyas) of the middle school, explaining this system of waste segregation to them. They were instructed regarding the disposal of the different types of wastes in the different bins, and its segregation into different waste bags. The waste bags comprising all plastic and recyclable waste (from the red and blue bins) were to be given to a Chintan waste truck that regularly collected waste from our school. The waste bag comprising all compostable material (from the green bin) was to be handed over to the gardeners (malis) that could use this in the production of compost. 

				br
				h2 Implementation
				p
					| We initially implemented our system in the middle school block, which included grades 6 through 8. We appointed class monitors and held regular meetings with them to ensure that the system was functioning properly. We also visited the middle school block every Friday, at the end of the day, to ensure the dustbins were in place and the trash collection to be done by Chintan was being properly handled. 

				br
				h2 Chintan Collaboration
				p
					| Chintan is an environmental NGO that works for environmental sustainability and social justice with diverse stakeholders. As a part of their “Pick My Trash” initiative we set up a weekly waste collection system. We further extended our collaboration by inviting them to our orientations and also planning a 2 day workshop for the gardeners of our school. In this workshop, Chintan would provide them with basic training and how to build waste composting pits in our school and also provide them with necessary material to do so. This would help extend our project to reach our 0 waste goal. 
					br
					br
					| Check out their Pick My Trash Initiative out to set up your own waste disposal system in Delhi NCR at 
					a(href="https://www.chintan-india.org/recycle-with-pickmytrash" style="color: #0ab68b") www.chintan-india.org
					| !
				hr
				style.
					h2 {
						margin-bottom: 5px;
					}
			include includes/partials/footer.pug

		//- Homebrewed scripts
		script(src="/javascripts/style.js")
		script.
			var topnav = document.getElementById('topnav');
			var belowTopNavContent = document.getElementById('belowTopNavContent');
			belowTopNavContent.style.paddingTop = topnav.offsetHeight;