html
	include includes/head.pug
	body
		include includes/partials/topnav.pug
		#belowTopNavContent
			br
			br
			include includes/partials/projectContent.pug
			include includes/partials/footer.pug

		//- Homebrewed scripts
		script(src="/javascripts/style.js")
		script.
			var topnav = document.getElementById('topnav');
			var belowTopNavContent = document.getElementById('belowTopNavContent');
			belowTopNavContent.style.paddingTop = topnav.offsetHeight;