section.banner
	.widthRestriction
		#bannerContent.center
			img(src="/images/badgeLogo.png" style="max-width: 300px")
			h1 
				mark 
					| Bringing Waste Segregation To You
			br
			br
			h2
				mark 
					| A Highschool Students Initiative
			br
			br
			//- h2 A highschool students initiative

	script.
		var bannerContent = document.getElementById('bannerContent');
		bannerContent.style.paddingTop = (screen.height - topnav.offsetHeight - bannerContent.offsetHeight)/3;