.widthRestriction#reachUs
	h1.red Reach us
	.col-2
		p 
			| To collaborate with us, and get started on your waste segregation initiative, you can contact us via email or instagram. We are happy to provide more information on our project, and are eager to help you begin yours!
		br

	.col-2(style="vertical-align: top")
		.widthRestriction
			//- .col-3
			//- 	p
			//- 		| Aahil Singh
			//- 		br
			//- 		a(href='#').red WhatsApp
			//- 		| &nbsp; &nbsp;
			//- 		a(href='#').red E-mail
			//- 	br
			//- .col-3
			//- 	p
			//- 		| Divyansh Shah
			//- 		br
			//- 		a(href='#').red WhatsApp
			//- 		| &nbsp; &nbsp;
			//- 		a(href='#').red E-mail
			//- 	br
			//- .col-3
			//- 	p
			//- 		| Kartik Gupta
			//- 		br
			//- 		a(href='#').red WhatsApp
			//- 		| &nbsp; &nbsp;
			//- 		a(href='#').red E-mail
			p 
				| Check us out on 
				a(href="#").red Instagram
			br
			p 
				| For a more informal vis-à-vis, feel free to 
				a(href="#").red mail us
				
			hr(style="margin-top: 20px; margin-bottom: 20px;")
			h4.center
				|  Made by 
				a(href="https://krishgoel.com").red KrishSkywalker
	br
	br
	br
	style. 
		.col-3 p a {
			font-size: 1rem
		}