.widthRestriction#reachUs
	h1.red Reach us
	.col-2
		p 
			| Add some random bs here What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book it has
		br

	.col-2(style="vertical-align: top")
		.widthRestriction
			.col-3
				p
					| Aahil Singh
					br
					a(href='#').red WhatsApp
					| &nbsp; &nbsp;
					a(href='#').red E-mail
				br
			.col-3
				p
					| Divyansh Shah
					br
					a(href='#').red WhatsApp
					| &nbsp; &nbsp;
					a(href='#').red E-mail
				br
			.col-3
				p
					| Kartik Gupta
					br
					a(href='#').red WhatsApp
					| &nbsp; &nbsp;
					a(href='#').red E-mail
			p 
				| Check us out on 
				a(href="#").red Instagram
			hr(style="margin-top: 20px; margin-bottom: 20px;")
			h4.center
				|  Made by 
				a(href="https://krishgoel.herokuapp.com").red KrishSkywalker
	br
	br
	br
	style. 
		.col-3 p a {
			font-size: 1rem
		}