section.mainContent
	.widthRestriction
		.col-2
			h1.red Our Goal
			p
				| Waste segregation refers to the separation of general, recyclable and compostable waste.It is extremely important for proper waste disposal and consequently, the well being of the environment and its inhabitants.
				br
				br
				| We have already implemented this system in our School and aim at spreading this system to other schools, not only in Delhi but all over India. We strive for a Zero-Waste Society and hope to expand our area of work and impact.
		.col-2
			//- Insert OurGoalImage
		hr 
		.col-2
			//- Insert OurInitiativeImage
		.col-2
			h1.red Our Initiative
			p 
				| We started our project in our school (Sanskriti School). We conducted surveys and held fundraisers. We also worked with different clubs and associations of our school. 
				br
				br
				| Currently, we have implemented our project in the middle school block and the canteen. We intend to implement waste segregation in our entire school by the end of 2020!
				br
				br
				| For more details on our project click the link below
			a(href="#")
				button View more
		hr
		h1.red Expanding our project
		p
			| In a world at the precipice of a global climate crisis, each and every one of us must do what we can to avert this eminent threat. Every effort towards this goal, simple or large, will have an essential impact on our society.
			br
			br
			| With this goal in our mind, we set off to create the Dustbin Bois. After carrying out this project in our school, we wanted to create a platform where other students can learn from our model, and implement their own version of it in their homes, societies and schools to create a cleaner environment.
			br
			br
			| We have also created this platform for students to share their thoughts and ideas on how we can work towards implementing more sustainable practices in our society, and spread awareness on the need for it as well.
			br
			br
			| So join us in working towards creating cleaner, healthier and sustainable practices!
		br
		a(href="#")
			button Get in touch
		hr
		h1.red Gallery
		hr
		h1.red The Team
		h2 The Dustbin Bois LMAO
		br
		.col-3
			.widthRestriction
				.card.center
					img(src="/images/profiles/aahilSingh.jpg")
					br
					br
					.widthRestriction
						h2 Aahil Singh
						p "A room without books is like a body without a soul."
					br

		.col-3
			.widthRestriction
				.card.center
					img(src="/images/profiles/divyanshShah.jpg")
					br
					br
					.widthRestriction
						h2 Divyansh Shah
						p "If it's not necessary to do it, it's necessary to no do it"
					br
		.col-3#col-3-3
			.widthRestriction
				.card.center
					img(src="/images/profiles/kartikGupta.jpg")
					br
					br
					.widthRestriction
						h2 Kartik Gupta
						p "Hum koi mandir ka ghanta hai ki koi bhi aake baja jaata hai?"
					br
		hr
		h1.red Reach us
		.col-2
			p 
				| Add some random bs here What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book it has
			br

		.col-2(style="vertical-align: top")
			.widthRestriction
				.col-3
					p
						| Aahil Singh
						br
						a(href='#').red WhatsApp
						| &nbsp; &nbsp;
						a(href='#').red E-mail
					br
				.col-3
					p
						| Divyansh Shah
						br
						a(href='#').red WhatsApp
						| &nbsp; &nbsp;
						a(href='#').red E-mail
					br
				.col-3
					p
						| Kartik Gupta
						br
						a(href='#').red WhatsApp
						| &nbsp; &nbsp;
						a(href='#').red E-mail
				p 
					| Also check us out on 
					a(href="#").red Instagram
				hr(style="margin-top: 20px; margin-bottom: 20px;")
				h4.center
					|  Made by 
					a(href="https://krishgoel.herokuapp.com").red KrishSkywalker
		br
		br
		br